<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <div class="form-group" [ngClass]="aplicaCssErro('nome')">
        <div class="col-sm-12">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control " id="nome" formControlName="nome" placeholder="Nome">
            
            <app-campo-control-erro
                [mostrarErro]="verificaValidTouched('nome')"
                msgErro = "Nome é Obrigatório.">
            </app-campo-control-erro>
        </div>
    </div>

    <br>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="nome@email.com">
        </div>
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn" (click)="resetar()">Cancelar</button>

</form>

<app-form-debug [form]="formulario"></app-form-debug>