<div class="row">
    <div class="col-md-6">
        <h1> Lista de Alunos </h1>
        <div class="collection">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" *ngFor="let aluno of alunos"
                    routerLink="/alunos" [routerLink]="[aluno.id]">
                    <!-- Por se tratar de uma rota filha, não precisa colocar /cursos/aluno.id-->
                    {{ aluno.nome }}</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <app-aluno-detalhe></app-aluno-detalhe>
        <!-- <app-aluno-form></app-aluno-form> -->
    </div>
</div>