<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="mostrarMenu">
  <a routerLink="" class="navbar-brand" href="#">Rotas NG15</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/" class="nav-link" href="#">Login</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/cursos" class="nav-link" href="#" [queryParams]="{pagina:1}">Cursos</a>
      </li>
      <li routerLinkActive="active" class="nav-link" href="#" class="nav-item">
        <a routerLink="/alunos" class="nav-link" href="#">Alunos</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>